*{
margin: 0;
padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans|Work+Sans');
.header::after{
	content: '';   
	display: block;   
	clear: both; 
}
img{
	display: block;
}
.header{
	width: 1366px;
	margin:auto;
}
.nav-header{
	width:1170px;
	margin: 38px auto;
}
.logo-img{
	width: 31px;
	height: 25px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none ;
}
.clearfix::after{
	content:"";
	display: table;
	clear: both;
}
.logo,.menu-item{
	float: left;
}
.menu-item{
font-family:'Montserrat',sans-serif;
margin-left: 10px;
font-size: 12px;
text-transform: uppercase;
color: #000;
font-weight: bold;

}
.header-menu{
	float: right;
}
.main{
	width: 1366px;
	margin: auto;
	background-color: #f6f6f6;
}
.pfolio-title{
	padding-top: 100px;
	font-family: 'Montserrat',sans-serif;
	font-size: 40px;
	text-align: center;
	}
	.pfolio-subttitle{
		padding:30px 0 97px;
		width: 512px;
		margin: auto;
		font-family: 'Nunito-Sans', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: #b9b9b9;
		text-align: center;
	}
	.pfolio{
		float: left;
	}
	.pholio-imgs{
		width:341px;
		height: 300px; 
	}
	.menu-item:hover> a{
		color:#ade7e4;
	}
	/* footer */
	.footer{
		margin: auto;
		width: 1366px;
		background-color: #141414;
	}
	.container{
		width:1170px;
		margin:auto;
		
	}
	.into,.contact,.footer-nav,.footer-menu{
		float: left;
	}

/* .imge{
	float: left;
	margin: 20px 0 0 30px;
	}


.menu-item a:hover{
	color:#00FFFF;
}
.header-menu{
text-align: right;
float: right;
margin: 20px 30px 0 0;
}
.menu-item{
	display: inline;
	}
.pfolio-title{
	text-align: center;
}
.pfolio-subttitle{
	text-align: center;
}	

.main{
padding-top:20px;
}
.pholio-imgs{
	list-style-type: none;
		float: left;   
		margin: 4px; 
	}
	.footer-menu-item{
		list-style-type: none;

	}
	 */