.header{
    padding: 100px 0;
    background-image: url(https://24tv.ua/resources/photos/news/610x344_DIR/201804/948692.jpg?201811122116);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}