*{
    margin: 0;
    padding: 0;
}

body{

    counter-reset: variable 66;
 
}
 /* ul{
     counter-increment:  varlable;
 }   */
li:before{
    counter-increment: variable -10; 
    content: counter(variable);
  
}